<app-header [pageTitle]="pageTitle" [pageIcon]="pageIcon"></app-header>

<ion-content>
    <ion-card>
            <ion-card-header>
                <br>
                <ion-card-subtitle> About us</ion-card-subtitle>
              <ion-card-title>What is CoffeeBrew?</ion-card-title>
              <br>

            </ion-card-header>
          <br>

          <img src="../../../assets/img/aboutp.png" height="150" width="150" class="center">

          <br>
            <ion-card-content>
              Robin Flores y Catalina Sanchez, alumnos de Tercer año de Ingeniería en Informática de Duoc UC, sede San Joaquín
            </ion-card-content>
          </ion-card>

</ion-content>
