ion-avatar {
    --border-radius: 4px;
    width:100% !important;
    height : 100% !important;
    max-width: 50px !important;  
    max-height: 50px !important; 
}

.about-size{
    --border-radius: 4px;
    width:100% !important;
    height : 100% !important;
    max-width: 25px !important;  
    max-height: 25px !important; 
}